---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro</title>
	</head>
	<body>
		<div class= "card">
			<img src="https://png.pngtree.com/thumb_back/fw800/background/20230617/pngtree-pink-pastel-pedestal-platform-with-cactus-clean-3d-rendering-product-display-image_3625199.jpg" alt="Card Image" />
				<div class="card-content">
				   <span class="card__tag">Design</span>
					<div class="card__header">
						<h3 class="card__title">Embracing Minimalism</h3>
					</div> 
						<div class="card__body"> 
							<p class="card__text">From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity.</p>
							<p class="card_footer">Annie Spratt</p>
						</div>
		      </div>
    </div>
	</body>
</html>

<style>
body {
  position: relative;
  height: 100vh;
  margin: 0;
}
 .card {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 16px 
  }
	.card__tag {
    color: #883AE1;
    background-color: #E6D6FC;
    padding: 3px 16px;
    border-radius: 16px;
}
	img {
    width: 100%;
    height: auto;
		border-radius: 8px;
  }
	.card-content {
    padding: 20px;
  }
	.card_title {
    font-size: 1.5em;
    margin-bottom: 10px; 
		font-family: 'Sora', sans-serif;
  }
	.card__text {
		font-size: 1em;
		color: #777;
		font-family: 'Sora', sans-serif;
		padding-bottom: 20px;
		border-bottom: 1px solid #E6D6FC;
	}
	.card_footer {
		color: #6C727F;
		font-family: 'Sora', sans-serif;
		padding-top: 20px;
		padding-bottom: 20px;
</style>